<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CloudBox</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    <style>
        /*Dark footer theme*/
        .footer-bs {
            background-color: #222222;
            padding: 60px 40px;
            color: rgba(255,255,255,1.00);
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CloudBox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-full body-content">
        <div id="modDialog" class="modal fade ">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        @RenderBody()
        <hr />
        <footer class="text-center footer-bs">
            <p>&copy; CloudBox, @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/clickOpenModal.js"></script>
</body>
</html>